/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Bard
|––––––––––––––––––––––––––––––––––––––––––––––––––
|
| Layout and styles for anthing built within the bard.
|
*/

.bard {

    .content-area {
        margin: 1.6rem auto 0;
        max-width: $text-max;
        
        &:first-child {
            margin-top: 0;
        }
    }

    figure,
    figcaption {
        max-width: $max-width;
	    margin: 0 auto;
    }
    
    figure {
        margin: 1.6rem auto 0;
        
        &:first-child {
            margin-top: 0;
        }
    }

    figcaption {
        display: block;
        margin: 8px 0 0;
        text-align: center;
        font-size: 0.8rem;
        font-style: italic;
    }

    hr {
		margin: 3.2rem auto;
        width: 32rem;
        max-width: 80%;
        border-color: $cloud;
        
        & + * {
            margin-top: 0;
        }
    }
	
    /* === Alignment === */
    // Needs to updated for statamic

	.align-full,
	.align-wide,
	.align-left,
	.align-right {
		margin-top: 1.6rem;
		margin-bottom: 1.6rem;
	}

	.align-full {
		max-width: unset;

		> * { max-width: unset; }
	}

	.align-wide {
		margin-right: auto;
		margin-left: auto;
		max-width: $max-width;

		> * { max-width: unset; }
	}

	.align-left,
	.align-right {
		max-width: 24rem;
	}

	.align-left {
		float: left;
        margin-right: 1.6rem;
        margin-left: -8rem;
	}

	.align-right {
        float: right;
        margin-right: -8rem;
		margin-left: 1.6rem;
	}

	p > {
        .align-left,
        .align-right {
            max-width: 16rem;
        }

		.align-left {
			margin: 0.4rem 0.8rem 0.4rem -8rem;
		}

		.align-right {
			margin: 0.4rem -8rem 0.4rem 0.8rem;
		}
	}

	@include below(960px) {
		.align-left,
		.align-right {
			display: block;
			float: none;
			margin-right: auto;
			margin-left: auto;
			max-width: $text-max;
		}
	}
}