/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Content Area
|––––––––––––––––––––––––––––––––––––––––––––––––––
|
| For sections where you want your lists, links and etc. to look nice,
| and so you don't have to backpedal any of the styles where you don't need.
|
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.content-area {
	clear: both;

	// Padding top is used so if you want to link to a heading there will be space above it.
	h1, h2 {
		padding-top: 4rem;
		margin: 0 0 0.8rem;
	}

	h3, h4 {
		padding-top: 2rem;
		margin: 0 0 0.4rem;
	}

	h5, h6 {
		padding-top: 1rem;
		margin: 0 0 0.2rem;
	}

	h1, h2, h3, h4, h5, h6 {

		&:first-child {
			padding-top: 0;
		}

		& + p {
			margin-top: 0;
		}
	}

	a:not([class]) {
		background-repeat: no-repeat;
		background-image: linear-gradient(transparent calc(100% - 7px), darken($accent-color, 8%) 0),
						  linear-gradient(transparent calc(100% - 7px), lighten($accent-color, 8%) 0);
		background-size: 0 100%, 100% 100%;
		color: $text-color;
		transition: background 200ms ease-in-out;

		&:hover {
			color: $text-color;
			background-size: 100% 100%, 100% 100%;
		}
	}

	ul {
		margin: 1.6rem 0 0;
		max-width: 32rem;
		padding: 0;
		list-style: none;

		&:first-child {
            margin-top: 0;
        }
	
		li {
			position: relative;
			margin: 0.8em 0 0;
			padding: 0 0 0 2em;
			
			&:first-child {
				margin-top: 0;
			}
	
			&:before {
				position: absolute;
				top: 0.84em;
				left: 0;
				transform: translateY(-50%);
				border-radius: 0.1em;
				width: 0.4em;
				height: 0.4em;
				background-color: $accent-color;
				content: '';
			}
		}
	}

	ol {
		margin: 1.6rem 0 0;
		max-width: 32rem;
		padding: 0 0 0 1.2em;
		
		&:first-child {
            margin-top: 0;
        }
	
		li {
			margin: 0.8em 0 0;
            padding: 0 0 0 0.8em;
            list-style: decimal outside;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	blockquote {
		margin: 1.6rem 0 0;
		max-width: 32rem;
		border-left: 0.2em solid $accent-color;
		padding: 0 0 0 1.2em;
		font-size: 1.2rem;

		p {
			line-height: inherit;
			font-size: inherit;
		}
		
		&:first-child {
            margin-top: 0;
        }
	}

	cite {
		display: block;
		margin: 0;
		padding: 0 0.4rem 0 0;
		text-align: right;
		line-height: 1.2rem;
		font-size: 0.8rem;

		&:before {
			content: '\2014';
		}
	}
}