/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Flex Layout 
|––––––––––––––––––––––––––––––––––––––––––––––––––
|
| Author: Tyler Underwood
|
| A flex column must be a child element of a parent with these rules:
| display: flex;
| flex-flow: row wrap;
| All flex alignment rules can be added to the parents as well.
|
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.flex-row {
	display: flex;
	flex-flow: row wrap;
}

/* === Flex Rows === */
@mixin flex-row($columns, $x-gap, $y-gap) {
	$half-x-gap: #{($x-gap / 2)};
	$half-y-gap: #{($y-gap / 2)};

	margin: -#{$half-y-gap} -#{$half-x-gap};

    > * {
		padding: #{$half-y-gap} #{$half-x-gap};
		width: #{(100% / #{$columns})};
	}
}

.flex-tri-row {
	@media ( max-width: 480px ) {
		@include flex-row(1, 2rem, 2rem);
	}

	@media ( min-width: 480px ) and ( max-width: 768px ) {
		@include flex-row(2, 3rem, 4rem);
	}

	@media ( min-width: 768px ) {
		@include flex-row(3, 4rem, 8rem);
	}
}

/* === Flex Columns === */
@mixin flex-column($columns, $x-gap, $y-gap) {
	$gaps: #{($columns - 1)};
    $rows: #{($columns + 1)};

    margin: 0 $x-gap 0 0;
	width: calc(#{(100% / #{$columns})} - (#{$x-gap} * #{$gaps}) / #{$columns});

	&:nth-child(n+#{$rows}) {
		margin-top: $y-gap;
	}

	&:last-child,
	&:nth-child(#{$columns}n) {
		margin-right: 0;
	}
}

.flex-tri-col {
	@media ( max-width: 480px ) {
		@include flex-column(1, 1rem, 1rem);
	}

	@media ( min-width: 480px ) and ( max-width: 768px ) {
		@include flex-column(2, 6rem, 4rem);
	}

	@media ( min-width: 768px ) {
		@include flex-column(3, 6rem, 6rem);
	}
}