/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Site Footer 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

footer.site-footer {
    background-color: $dark-purple-mtn;
    color: $purple-mtn;

    .inner-footer {
        padding: 32px 20px 128px;
    }
}

nav.site-footer-nav {
    margin: 0 -0.5em;

    a {
        color: inherit;
    }
}

.copyright {
    text-transform: uppercase;
    font-size: 0.7rem;

    a {
        font-size: inherit;
        color: inherit;
    }
}