/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Site Header 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

/* ===== VARIABLES ===== */

$header-height: 4rem;

/* ===== LAYOUT ===== */

header.site-header {
    position: relative;
    z-index: 99;

    .inner-header {
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        color: $text-color;
        fill: $text-color;
    }

    // add this class to the .inner-header
    .ghost-header {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        color: $white;
        fill: $white;
    }
}

/* ===== COMPONENTS ===== */

#logo {
    max-width: 200px;
    height: 2em;

    svg {
        height: inherit;
        fill: inherit;
    }
}

nav.site-header-nav {
    margin: 0 -0.5em;

    a {
        color: inherit;
    }
}