/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Hero 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.hero {
    display: flex;
    align-items: center;
    position: relative;
    background-color: $main-color;
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: $white;
	
	@include below(md) {
		min-height: 12rem;
	}

    @include above(md) {
		min-height: 16rem;
    }
    
    &.hero-short {
		@include below(md) {
			min-height: 8rem;
		}

		@include above(md) {
			min-height: 12rem;
		}
	}

	&.hero-tall {
		@include below(md) {
			min-height: 20rem;
		}

		@include above(md) {
			min-height: 24rem;
		}
	}

	&.hero-full {
		transition: none;

		@include below(lg) {
			min-height: calc( 1080px - #{$header-height} );
		}

		@include above(lg) {
			min-height: calc( 100vh - #{$header-height} );
		}
    }

    &.hero-darken::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.3);
		content: '';
	}

    > div {
        flex: 1;
        position: relative;
    }

    h1, h2 {
        padding: 0;
        line-height: 1.2;
        text-transform: uppercase;
    }
}