/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Navigation 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

nav.site-nav {
    display: flex;

    a {
        display: block;
        padding: 0.5em;
        font-size: inherit;
        font-weight: bold;
        text-transform: uppercase;
        color: $text-color;
    }
}