<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ meta_description or "Imagination playground" }}">
        <title>{{ meta_title or title }} | {{ site_title }}</title>
        <link rel="stylesheet" href="{{ theme:css }}">

    </head>

    <body class="{{ template or segment_1 or "home" }}-layout">

        {{  partial:site-header }}

        {{ template_content }}

        {{  partial:site-footer }}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ theme:js }}"></script>

    </body>

</html>