/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| MODULES: Contact Form
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.contact-form {
    position: relative;

    label {
        display: block;
    }

    label + label {
        margin-top: 0.8rem;
    }
}

form.single-form {
	display: flex;
	max-width: 640px;

	input, select, button {
		display: block;
		margin: 0;
		height: 40px;
		line-height: 1;
		padding-top: 0;
		padding-bottom: 0;
		font-size: $font-size;
	}

	button {
		padding-left: 1.4em;
		padding-right: 1.4em;
	}

	@media (max-width: 479px) {
		flex-direction: column;

		button { margin-top: 0.5rem; }
	}	

	@media (min-width: 480px) {
		input, select {
			flex: 1;
			margin-right: 0.5rem;
		}
	}
}