/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| MODULES: Info Card
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

$info-card-pad: 24px;

.info-card {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 12px;
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: $purple-mtn;
    padding: $info-card-pad;

    .first-half,
    .second-half {
        position: relative;
        z-index: 9;
        width: 40%;

        h5 {
            margin: 0 0 0 8px;
            line-height: 1;
            font-style: italic;
            text-transform: uppercase;
        }

        a {
            display: inline-block;
            margin-top: 16px;
            padding: 8px;
            color: inherit;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .card-background {
        position: absolute;
        z-index: 0;
        top: 0;
        bottom: 0;
        left: 0;
        width: 50%;
        background-color: $dark-purple-mtn;
        transform: skew( -12deg );
        content: "";

        &::before {
            position: inherit;
            top: 0;
            bottom: 0;
            left: 0;
            width: 10%;
            background-color: inherit;
            transform: skew( 12deg );
            content: "";
        }
    }

    .first-half {
        margin-right: 10%;
        color: $white;
    }

    .dividing-line {
        position: absolute;
        z-index: 9;
        top: $info-card-pad;
        bottom: $info-card-pad;
        left: 50%;
        width: 6px;
        background-color: $cloud;
        transform: translateX( -50% ) skew( -12deg );
        content: "";
    }

    .second-half {
        margin-left: 10%;
        text-align: end;
        color: $text-color;
    }
}