<div class="modal-overlay modal-opend" data-modal="close"></div>
<div id="modal" class="modal modal-opend">
    <button class="modal-close modal-opend" data-modal="close"></button>
    <div class="modal-inner">
        {{ modal_content }}
    </div>
</div>