<header class="site-header">
    <div class="inner-header wrap">

        <a id="logo" href="/" title="{{ site_title }} | Home">
            {{ theme:output src="img/svg/logo.svg" }}
        </a>

        <div class="flex-fill"></div>

        <nav class="site-nav site-header-nav">
        {{ nav from="/" }}
            <a href="{{ url }}">{{ title }}</a>
        {{ /nav }}
        </nav> <!-- END site-header-nav -->

        <!-- <div class="nav-button">
            <label for="Menu">Menu</label>
            <span class="i1"></span>
            <span class="i2"></span>
            <span class="i3"></span>
        </div> -->

    </div> <!-- END inner-header -->
</header> <!-- END site-header -->

<div id="container">