</div> <!-- END #container -->

<footer class="site-footer">
    <div class="inner-footer wrap">

        <nav class="site-nav site-footer-nav">
        {{ nav from="/" }}
            <a href="{{ url }}">{{ title }}</a>
        {{ /nav }}
        </nav> <!-- END footer-nav -->

        <p class="copyright">
            <span>Copyright &copy; {{ date }} {{ site_title }}.&nbsp;</span>
            <span>All Rights Reserved.&nbsp;</span>
            <span><a href="http://tgustudios.com" target="_blank" title="Made thoughtfuly in Austin, TX. Site built by TGU.">Site by TGU</a>.</span>
        </p> <!-- END copyright -->

    </div> <!-- END inner-footer -->
</footer> <!-- END footer -->