/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| GLOBAL: Backgrounds
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

/* === BACKGROUND IMAGE === */
.bg-img,
.background-image {
	display: block;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	

	&.bg-darken::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.3);
		content: '';
	}
}

/* === IMAGE RATIOS === */
.bg-square,
.ratio-1-1 {
	padding-top: 100%;
}
.bg-landscape,
.ratio-4-3 {
	padding-top: 75%;
}
.bg-portrait,
.ratio-3-4 {
	padding-top: 133.333333%;
}
.bg-wide,
.ratio-16-9 {
	padding-top: 56.25%;
}
.bg-tall,
.ratio-9-16 {
	padding-top: 177.777777%;
}
.bg-ultra-wide,
.ratio-21-9 {
	padding-top: 42.8571%;
}

.bg-circle {
	padding-top: 100%;
	border-radius: 50%;
}

/* === IMAGE OVERLAYS === */
.bg-overlay,
.background-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $black;
	opacity: 0.5;
}

.bg-overlay-light,
.background-overlay-light {
	@extend .bg-overlay;
	opacity: 0.3;
}

.bg-overlay-strong,
.background-overlay-strong {
	@extend .bg-overlay;
	opacity: 0.7;
}

/* === BACKGROUND COLORS === */
.bg-off-white,
.background-off-white {
	background-color: $off-white;
}
.bg-main-color,
.background-main-color {
	background-color: $main-color;
}
.bg-accent-color,
.background-accent-color {
	background-color: $accent-color;
}
.bg-off-black,
.background-off-black {
	background-color: $off-black;
}

/* === GRADIENTS === */
.t2b-gradient,
.top2bottom-gradient {
	@include t2b-gradient();
}

.l2r-gradient,
.left2right-gradient {
	@include l2r-gradient();
}

.lt2rb-gradient,
.left-top2right-bottom-gradient {
	@include lt2rb-gradient();
}

.lb2rt-gradient,
.left-bottom2right-top-gradient {
	@include lb2rt-gradient();
}

.radial-gradient {
	@include radial-gradient();
}