/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| GLOBAL: Body
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

html {
	@include fluid-type(font-size, $mobile, $desktop, $font-min, $font-max);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
	background-color: $white;
	line-height: 1;
	font-size: $font-size;
	font-weight: normal;
	font-family: $main-font;
	text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	color: $text-color;

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
}

#container {
	flex: 1;
	overflow: hidden;
}