/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| GLOBAL: Layout
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

/* ===== Global ===== */

.cf,
.clear,
.clearfix {
	&::after {
		display: block;
		width: 100%;
		height: 0;
		float: none;
		clear: both;
		content: '';
	}
}

/* ===== Sectional ===== */

.x-mar {
	@include fluid-type(margin-right margin-left, $min-width, $max-width, $x-space, $x-space-lg);
}

.x-pad {
	@include fluid-type(padding-right padding-left, $min-width, $max-width, $x-space, $x-space-lg);
}

.y-mar {
	@include fluid-type(margin-top margin-bottom, $min-width, $max-width, $y-space, $y-space-lg);
}

.y-pad {
	@include fluid-type(padding-top padding-bottom, $min-width, $max-width, $y-space, $y-space-lg);
}

/* === wrap === */

.wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: $max-width;
	@extend .x-pad;

	// @include below(sm) {
	// 	padding-right: $x-space;
	// 	padding-left: $x-space;
	// }

	// @include between(sm, md) {
	// 	padding-right: $x-space-sm;
	// 	padding-left: $x-space-sm;
	// }

	// @include between(md, lg) {
	// 	padding-right: $x-space-md;
	// 	padding-left: $x-space-md;
	// }

	// @include above(lg) {
	// 	padding-right: $x-space-lg;
	// 	padding-left: $x-space-lg;
	// }
}

/* === block === */

.block {
	@extend .y-mar;

	// @include below(sm) {
	// 	margin-top: $y-space;
	// 	margin-bottom: $y-space;
	// }

	// @include between(sm, md) {
	// 	margin-top: $y-space-sm;
	// 	margin-bottom: $y-space-sm;
	// }

	// @include between(md, lg) {
	// 	margin-top: $y-space-md;
	// 	margin-bottom: $y-space-md;
	// }

	// @include above(lg) {
	// 	margin-top: $y-space-lg;
	// 	margin-bottom: $y-space-lg;
	// }

	& + & {
		margin-top: 0;
	}
}

/* === row === */

.row {
	@extend .y-pad;

	// @include below(sm) {
	// padding-top: $y-space;
	// padding-bottom: $y-space;
	// }

	// @include between(sm, md) {
	// 	padding-top: $y-space-sm;
	// 	padding-bottom: $y-space-sm;
	// }

	// @include between(md, lg) {
	// 	padding-top: $y-space-md;
	// 	padding-bottom: $y-space-md;
	// }

	// @include above(lg) {
	// 	padding-top: $y-space-lg;
	// 	padding-bottom: $y-space-lg;
	// }

	&.no-top { padding-top: 0; }
	&.no-bot { padding-bottom: 0; }
}

/* ===== UTILITY ===== */

/* This is used as a sibling element inside a flex row to fill empty space */
.flex-fill { flex: 1; }

/* === padding === */
.p0,
.pad-0,
.no-pad,
.no-padding {
	padding: 0;
}

/* surrounding */
.p1,
.pad-1 { padding: 8px; }

.p2,
.pad-2 { padding: 16px; }

.p3,
.pad-3 { padding: 32px; }

.p4,
.pad-4 { padding: 48px; }

.p5,
.pad-5 { padding: 56px; }

.p6,
.pad-6 { padding: 64px; }

/* horizontal */
.p1-h,
.hrz-pad-1 { padding: 0 8px; }

.p2-h,
.hrz-pad-2 { padding: 0 16px; }

.p3-h,
.hrz-pad-3 { padding: 0 32px; }

.p4-h,
.hrz-pad-4 { padding: 0 48px; }

.p5-h,
.hrz-pad-5 { padding: 0 56px; }

.p6-h,
.hrz-pad-6 { padding: 0 64px; }

/* vertical */
.p1-v,
.vrt-pad-1 { padding: 8px 0; }

.p2-v,
.vrt-pad-2 { padding: 16px 0; }

.p3-v,
.vrt-pad-3 { padding: 32px 0; }

.p4-v,
.vrt-pad-4 { padding: 48px 0; }

.p5-v,
.vrt-pad-5 { padding: 56px 0; }

.p6-v,
.vrt-pad-6 { padding: 64px 0; }

/* dynamic */
.pad,
.padding { padding: $x-space; }

.p-sm,
.pad-sml,
.small-padding { padding: $x-space-sm; }

.p-md,
.pad-med,
.padding-medium { padding: $x-space-md; }

.p-lg,
.pad-lrg,
.padding-large { padding: $x-space-lg; }

/* === margin === */
.m0,
.mar-0,
.no-mar,
.no-margin {
	margin: 0;
}

/* top */
.m0-t,
.mar-top-0 { margin-top: 0px; }

.m1-t,
.mar-top-1 { margin-top: 8px; }

.m2-t,
.mar-top-2 { margin-top: 16px; }

.m3-t,
.mar-top-3 { margin-top: 32px; }

.m4-t,
.mar-top-4 { margin-top: 48px; }

.m5-t,
.mar-top-5 { margin-top: 56px; }

.m6-t,
.mar-top-6 { margin-top: 64px; }

/* right */
.m0-r,
.mar-right-0 { margin-right: 0px; }

.m1-r,
.mar-right-1 { margin-right: 8px; }

.m2-r,
.mar-right-2 { margin-right: 16px; }

.m3-r,
.mar-right-3 { margin-right: 32px; }

.m4-r,
.mar-right-4 { margin-right: 48px; }

.m5-r,
.mar-right-5 { margin-right: 56px; }

.m6-r,
.mar-right-6 { margin-right: 64px; }

/* bottom */
.m0-b,
.mar-bottom-0 { margin-bottom: 0px; }

.m1-b,
.mar-bottom-1 { margin-bottom: 8px; }

.m2-b,
.mar-bottom-2 { margin-bottom: 16px; }

.m3-b,
.mar-bottom-3 { margin-bottom: 32px; }

.m4-b,
.mar-bottom-4 { margin-bottom: 48px; }

.m5-b,
.mar-bottom-5 { margin-bottom: 56px; }

.m6-b,
.mar-bottom-6 { margin-bottom: 64px; }

/* left */
.m0-l,
.mar-left-0 { margin-left: 0px; }

.m1-l,
.mar-left-1 { margin-left: 8px; }

.m2-l,
.mar-left-2 { margin-left: 16px; }

.m3-l,
.mar-left-3 { margin-left: 32px; }

.m4-l,
.mar-left-4 { margin-left: 48px; }

.m5-l,
.mar-left-5 { margin-left: 56px; }

.m6-l,
.mar-left-6 { margin-left: 64px; }

/* dynamic */
.m-t,
.mar-top,
.margin-top { margin-top: $y-space; }

.m-r,
.mar-right,
.margin-right { margin-right: $y-space; }

.m-b,
.mar-bottom,
.margin-bottom { margin-bottom: $y-space; }

.m-l,
.mar-left,
.margin-left { margin-left: $y-space; }

/* === max-widths === */

/* static */
.max-width-480,
.mw-480 {
	width: 100%;
	max-width: 480px;
}

.max-width-640,
.mw-640 {
	width: 100%;
	max-width: 640px;
}

.max-width-720,
.mw-720 {
	width: 100%;
	max-width: 720px;
}

.max-width-1080,
.mw-1080 {
	width: 100%;
	max-width: 1080px;
}

.max-width-1280,
.mw-1280 {
	width: 100%;
	max-width: 1280px;
}

.max-width-1440,
.mw-1440 {
	width: 100%;
	max-width: 1440px;
}

.max-width-1600,
.mw-1600 {
	width: 100%;
	max-width: 1600px;
}

.max-width-full,
.mw-full {
	width: 100vw;
	max-width: unset;
}

/* dynamic */
.max-width,
.mw {
	width: 100%;
	max-width: $max-width;
}

.max-width-extra-small,
.mw-xs {
	width: 100%;
	max-width: $xs-width;
}

.max-width-small,
.mw-sml {
	width: 100%;
	max-width: $sm-width;
}

.max-width-narrow,
.mw-med {
	width: 100%;
	max-width: $md-width;
}

.max-width-wide,
.mw-lrg {
	width: 100%;
	max-width: $lg-width;
}

.max-width-extra-wide,
.mw-xl {
	width: 100%;
	max-width: $xl-width;
}

/* === alignment === */
.content-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// this one must be inside a centered container
.force-full,
.align-full {
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	width: 100vw;
	max-width: unset;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.align-center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}