/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| GLOBAL: Settings
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

  /* ================== */
 /* ===== COLORS ===== */
/* ================== */

/* common */
$true-red:          #FF0000;
$true-orange:       #FF8000;
$true-green:        #FFFF00;
$true-chartreuse:   #80FF00;
$true-green:        #00FF00;
$true-jade:         #00FF80;
$true-cyan:         #00FFFF;
$true-azure:        #0080FF;
$true-blue:         #0000FF;
$true-purple:       #8000FF;
$true-magenta:      #FF00FF;
$true-fuchsia:      #FF0080;

/* gray shades */
$white:             #ffffff;
$off-white:         #f8f8f8;
$cloud:             #eeeeee;
$light-gray:        #a5a5a5;
$gray:              #666666;
$dark-gray:         #454545;
$charcoal:          #333333;
$off-black:         #222222;
$black:             #000000;

/* social media colors */
$facebook:          #3b5998;
$twitter:           #55acee;
$instagram:         #bc2a8d;
$youtube:           #bb0000;
$linkedin:          #0077b5;

/* site specific */
$sky-slate:         #B8C8CA;
$mandarin:          #FF824B;
$tangerine:         #FF7F6C;
$purple-mtn:        #637BA9;
$dark-purple-mtn:   #201E31;

/* site dynamic */
$main-color:        $sky-slate;
$accent-color:      $tangerine;
$text-color:        $dark-purple-mtn;
$link-color:        $accent-color;
$link-hover:        lighten($link-color, 5%);



  /* ================= */
 /* ===== FONTS ===== */
/* ================= */

@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,600|Lato:700');
// @import url('https://fonts.googleapis.com/css?family=Alegreya');

/* === FONT FAM === */

/* default */
$default-serif:         Georgia, Times, serif;
$default-sans-serif:    Helvetica, Arial, sans-serif;

/* common */
$lora: 					'Lora', $default-serif;
$open-sans: 			'Open Sans', $default-sans-serif;
$lato: 					'Lato', $default-sans-serif;

/* dynamic fonts */
$serif: 			$lora;
$sans-serif: 		$open-sans;

/* site fonts */

/* site dynamic fonts */
$main-font: 		$open-sans;
$heading-font: 		$lato;

/* === FONT SIZE === */

$font-min: 			16px;
$font-max: 			20px;

$font-size-lg: 		1.2rem;
$font-size: 		1.0rem;
$font-size-sm: 		0.8rem;

$text-max: 			32rem;



  /* ================== */
 /* ===== LAYOUT ===== */
/* ================== */

/* === RESPONSIVE === */

$mobile: 			480px;
$tablet: 			768px;
$desktop: 			1280px;

/* === MAX WIDTHS === */

$min-width: 		$mobile;
$max-width: 		$desktop;

$half-min: 			#{($min-width / 2)};
$half-max: 			#{($max-width / 2)};

$xs-width: 			320px;
$sm-width: 			720px;
$md-width: 			1080px;
$lg-width: 			1440px;
$xl-width: 			1600px;

$half-xs: 			#{($xs-width / 2)};
$half-sm: 			#{($sm-width / 2)};
$half-md: 			#{($md-width / 2)};
$half-lg: 			#{($lg-width / 2)};
$half-xl: 			#{($xl-width / 2)};

/* === WHITESPACE === */

$x-space: 			24px;
$x-space-sm: 		36px;
$x-space-md: 		48px;
$x-space-lg: 		64px;

$y-space:       	48px;
$y-space-sm:   		64px;
$y-space-md:   		80px;
$y-space-lg:   		96px;