/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| GLOBAL: Typography
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

/* ===== DEFAULTS ===== */

// negative margin top and bottom can create 
// cleaner spacing between elements due to line height
p {
	margin: 1.6rem 0 0;
	max-width: $text-max;
	line-height: 1.6;
	font-size: $font-size;
	hyphens: none;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

li {
	line-height: 1.6;
	font-size: $font-size;

	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

h1 { font-size: 3.2rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.0rem; }
h6 { font-size: 0.8rem; }

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 0;
	line-height: 1.2;
	font-family: $heading-font;

	&:first-child {
		margin-top: -0.24em;
	}

	&:last-child {
		margin-bottom: -0.20em;
	}
}

hr {
	clear: both;
	margin: 1.6rem auto;
	border: unset;
	border-top: 1px solid $off-white;
	border-bottom: 1px solid $off-white;
}

ul, ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	font-size: $font-size;
	text-decoration: none;
	color: $link-color;
	transition: color 200ms ease-in-out;
	cursor: pointer;

	&:hover,
	&:focus {
		outline: none;
		border: none;
		color: $link-hover;
	}
}

blockquote {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	font-size: $font-size-lg;
}

cite, label {
	font-size: $font-size-sm;
}

code {
	border-radius: 2px;
	background: $cloud;
	padding: 2px;
	line-height: 1.2;
	font-size: inherit;
	color: $charcoal;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup { top: -0.25em; }

sub { bottom: -0.25em; }

/* ===== UTILITY ===== */

.font-serif { font-family: $serif; }

.font-sans-serif { font-family: $sans-serif; }

.letter-space { letter-spacing: 1px; }

.text-uppercase { text-transform: uppercase; }

/* === Font Weight === */

.font-light { font-weight: lighter; }

.font-normal { font-weight: normal; }

.font-bold { font-weight: bold; }

/* === Alignment === */

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

/* === Colors === */

/* text */
.text-color { color: $text-color; }

.text-white { color: $white; }

.text-main-color { color: $main-color; }

.text-accent-color { color: $accent-color; }

/* border */
.border-text-color { border-color: $text-color; }

.border-white { border-color: $white; }

.border-main-color { border-color: $main-color; }

.border-accent-color { border-color: $accent-color; }

/* svg */
.fill-text-color { fill: $text-color; }

.fill-white { fill: $white; }

.fill-main-color { fill: $main-color; }

.fill-accent-color { fill: $accent-color; }