<section class="hero bg-main-color">
    <div class="wrap row">
        <h1>{{ title }}</h1>
    </div>
</section>

<hr class="no-mar"/>

<main class="wrap block content-area">
    {{ content }}
</main>