<section class="hero bg-main-color">
    <div class="wrap row">
        <h1>{{ title }}</h1>
    </div>
</section>

<main class="wrap block">
{{ collection:blog limit="10" paginate="true" as="posts" }}
    
    {{ posts }}
    <article class="margin-bottom">
        <header><a href="{{ url }}"><h3>{{ title }}</h3></a></header>
        <main class="m1-t">An excerpt from the post</main>
        <hr class="mw-480 m0 m1-t border-accent-color">
        <footer class="m1-t"><span>TAGS</span></footer>
    </article>
    {{ /posts }}

{{ /collection:blog }}
</main>