<section class="hero bg-main-color">
    <div class="wrap row">
        <h1>{{ title }}</h1>
    </div>
</section>

<hr class="no-mar"/>

<main class="wrap block content-area">
    {{ content }}
</main>

<section class="wrap block flex-row">

    <div class="half-column">
        <address class="info-card">
            <div class="card-background"></div>

            <div class="first-half">
                <h5>{{ site_title }}</h5>
                <a href="{{ site_address }}">
                    {{ site_address }}
                </a>
            </div>
            
            <div class="dividing-line"></div>
            
            <div class="second-half">
                <a href="tel:{{ site_phone }}">{{ site_phone }}</a>
                <a href="mailto:{{ site_email }}">{{ site_email }}</a>
            </div>
        </address>
    </div> <!-- END info-card -->
    
    <div class="half-column contact-form">
        {{ form:create in="contact" }}

            {{ fields }}
            <label for="{{ name }}">
                <input type="text" name="{{ name }}" placeholder="{{ display }}" value="{{ old }}" />
            </label>
            {{ /fields }}

            <label for="message">
                <textarea name="message" placeholder="Message">{{ old:message }}</textarea>
            </label>

            <label for="submit">
                <button type="submit">Submit</button>
            </label>
    
        {{ /form:create }}
    </div> <!-- END contact-form -->

</section>

<section class="wrap block">
    <form class="single-form" action="">

        <input type="email" name="name" placeholder="Email">
        <button type="submit">Submit</button>

    </form>
</section>