{{ blocks }}    

    {{ if type == "hero" }}
    <section class="hero {{ if overlay }}hero-darken{{ /if }} {{ height }}" style="background-image: url({{ bg_img }});">
        <div class="wrap row">
            <h1>{{ title }}</h1>
            {{ if intro }}<p>{{ intro }}</p>{{ /if }}
        </div>
    </section>
    {{ /if }}

    {{ if type == "entry" }}
    <main class="wrap block content-area">
        {{ content | markdown }}
    </main>
    {{ /if }}

{{ /blocks }}

<div class="text-center">
    <button data-modal="open">MODAL</button>
</div>

<div id="modal_wrapper" class="modal-closed">
    <div id="modal_overlay" class="modal-closed" data-modal="close"></div>
    <div id="modal" class="modal-closed">
        <button id="modal_close" class="modal-closed" data-modal="close"></button>
        <div class="modal-inner">
            <span class="test-fill">modal</span>
        </div>
    </div>
</div>

<section class="flex-column-demo wrap block">
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
</section>