<section class="hero bg-main-color">
    <div class="wrap row">
        <h1>{{ title }}</h1>
    </div>
</section>

<article class="wrap block bard">
{{ post_content }}

    {{ partial src="sets/{type}" }}

{{ /post_content }}
</article>