/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| LAYOUT: Page 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.flex-column-demo {
    @extend .flex-row;
    justify-content: center;

    .demo-box {
        display: block;
        min-height: 10rem;
        border-radius: 1rem;
        background-color: $main-color;

        @include below(640px) {
            @include flex-column(1, 1rem, 1rem);
        }

        @include between(640px, 1080px) {
            @include flex-column(2, 2rem, 2rem);
        }
    
        @include above(1080px) {
            @include flex-column(3, 3rem, 3rem);
        }
    }
}

.half-column {
    @media (max-width: 767px) {
        @include flex-column(1, 0px, 2rem);
    }

    @media (min-width: 768px) {
        @include flex-column(2, 2rem, 0px);
    }
}